<section id="cursos">

    <mat-card>
        <mat-card-title>APRIMORE SEUS CONHECIMENTOS PROFISSIONAIS</mat-card-title>

        <mat-card-content>
            Descubra cursos profissionalizantes que contribuem para o desenvolvimento das suas habilidades técnicas e
            comportamentais. Fortaleça sua atuação na área da saúde com formações que valorizam a comunicação, a ética,
            o
            cuidado humanizado e a segurança do paciente.
        </mat-card-content>

        <mat-card-content>
            <mat-list>
                <mat-list-item>
                    <span matLine class="title">Comunicação Assertiva aos Profissionais de Saúde – Grupo
                        Nobre</span>
                    <span matLine>
                        Reflexão sobre posicionamentos e situações em diversas áreas de atuação, com módulos sobre
                        barreiras
                        da comunicação, empatia, timidez, relações interpessoais e comunicação assertiva. Carga horária:
                        10
                        horas.

                        <a href="https://nobreplay.com.br/curso/comunicacao-assertiva-aos-profissionais-de-saude"
                            target="_blank" rel="noopener">Acesse aqui</a>
                    </span>
                </mat-list-item>
                <mat-divider></mat-divider>

                <mat-list-item>
                    <span matLine class="title">Minicurso Comunicação com a Enfermagem – Pensar Cursos</span>
                    <span matLine>
                        Elementos e barreiras do processo de comunicação em enfermagem, comunicação verbal e não verbal,
                        linguagem escrita e teoria da interpessoalidade.

                        <a href="https://www.pensarcursos.com.br/curso/minicurso-comunicacao-com-a-enfermagem"
                            target="_blank" rel="noopener">Acesse aqui</a>
                    </span>
                </mat-list-item>
                <mat-divider></mat-divider>

                <mat-list-item>
                    <span matLine class="title">Comunicação e Expressão – Ginead</span>
                    <span matLine>
                        O curso de Comunicação e Expressão da Ginead é voltado para aqueles que desejam melhorar suas
                        habilidades de expressão oral e escrita. Ele explora técnicas para se comunicar de maneira mais
                        eficaz em diversas situações, seja em apresentações ou no dia a dia profissional.
                        Duração: 40h

                        <a href="https://www.ginead.com.br/curso/curso-gratuito-comunicacao-e-expressao" target="_blank"
                            rel="noopener">Acesse aqui</a>
                    </span>
                </mat-list-item>
                <mat-divider></mat-divider>

                <mat-list-item>
                    <span matLine class="title">Técnicas de Comunicação Interpessoal – LinkedIn Learnin</span>
                    <span matLine>
                        Este curso oferecido pelo LinkedIn Learning, disponível durante o período de teste gratuito da
                        plataforma, ajuda os profissionais a desenvolverem suas habilidades de comunicação interpessoal.
                        Focado em ambientes de trabalho, o curso aborda como interagir de forma eficiente com colegas,
                        superiores e clientes.
                        Duração: 1h

                        <a href="https://br.linkedin.com/learning/tecnicas-de-comunicacao-interpessoal" target="_blank"
                            rel="noopener">Acesse aqui</a>
                    </span>
                </mat-list-item>
                <mat-divider></mat-divider>

                <mat-list-item>
                    <span matLine class="title">Oratória – Kultivi</span>
                    <span matLine>
                        A Kultivi oferece um curso gratuito de oratória que é perfeito para quem deseja desenvolver suas
                        habilidades de falar em público. O curso ensina técnicas para se expressar com clareza, superar
                        o
                        medo de falar em público e cativar a audiência.
                        Duração: 4h

                        <a href="https://kultivi.com/blog/carreira-e-negocios/curso-de-oratoria-gratuito-desenvolva-esta-softskill"
                            target="_blank" rel="noopener">Acesse aqui</a>
                    </span>
                </mat-list-item>
                <mat-divider></mat-divider>

                <mat-list-item>
                    <span matLine class="title">Comunicação Assertiva no Trabalho – Fundação Estudar</span>
                    <span matLine>
                        Também oferecido pela Fundação Estudar, este curso foca em como comunicar-se de maneira
                        assertiva no
                        ambiente de trabalho. Ele explora como expressar opiniões e feedbacks de forma clara e
                        respeitosa,
                        contribuindo para um ambiente de trabalho mais colaborativo.
                        Duração: 2h

                        <a href="https://lp.napratica.org.br/comunicacao-assertiva-no-trabalho" target="_blank"
                            rel="noopener">Acesse aqui</a>
                    </span>
                </mat-list-item>
                <mat-divider></mat-divider>

            </mat-list>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-title>E-BOOKS PARA EXPANDIR SEU CONHECIMENTO</mat-card-title>

        <mat-card-content>
            Acesse e-books selecionados sobre comunicação assertiva, humanização no cuidado e boas práticas na área da
            saúde. Leitura acessível e aprofundada para quem busca se atualizar e aprimorar sua atuação profissional com
        </mat-card-content>

        <mat-card-content>
            <mat-list>
                <!--<mat-list-item>
                    <span matLine class="title">Comunicação Assertiva e Não Violenta na Enfermagem</span>
                    <span matLine>
                        Descrição: Estratégias práticas para melhorar a comunicação na assistência e no trabalho em
                        equipe.

                        <a href="https://symp.la/9z6XxK" target="_blank" rel="noopener">Acesse aqui</a>
                    </span>
                </mat-list-item>
                <mat-divider></mat-divider>-->

                <mat-list-item>
                    <span matLine class="title">Guia de Habilidades de Comunicação no Cuidado de Enfermagem</span>
                    <span matLine>
                        Descrição: Guia gratuito da UFPel com foco no vínculo terapêutico e empatia na comunicação com o
                        paciente.

                        <a href="https://bit.ly/GuiaComunicacaoEnfermagem" target="_blank" rel="noopener">Acesse
                            aqui</a>
                    </span>
                </mat-list-item>
                <mat-divider></mat-divider>

                <mat-list-item>
                    <span matLine class="title">Comunicação Assertiva</span>
                    <span matLine>
                        Descrição: Este material aborda os fundamentos da comunicação assertiva e oferece estratégias
                        para melhorar o relacionamento interpessoal no ambiente de trabalho, com foco especial na área
                        da saúde. Ideal para quem busca mais clareza, empatia e profissionalismo na comunicação diária.

                        <a href="https://bit.ly/EbookComunicacaoAssertiva" target="_blank" rel="noopener">Acesse
                            aqui</a>
                    </span>
                </mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
        </mat-card-content>
    </mat-card>
</section>