<mat-card>
    <mat-card-title>Quem somos?</mat-card-title>
    
    <img mat-card-image src="../../assets/ALUNOS.jpeg" alt="Foto da equipe" />

    <mat-card-content>
        Somos graduandas do 2º período do curso de Enfermagem da Faculdade de Minas (FAMINAS-BH), movidas pela paixão
        pelo cuidado, pelo conhecimento e pela transformação que nossa futura profissão pode proporcionar na vida das
        pessoas.Nos reunimos como grupo com o propósito de aprender em conjunto, compartilhar experiências, oferecer
        apoio mútuo e desenvolver projetos que integrem teoria e prática. Cada uma de nós carrega uma história, uma
        motivação e um sonho — e todas temos em comum o desejo de fazer a diferença na área da saúde. Acreditamos que a
        Enfermagem vai muito além da técnica: ela exige empatia, escuta ativa, responsabilidade e, acima de tudo,
        humanidade. Estamos em constante evolução, dentro e fora da sala de aula, e buscamos crescer não apenas como
        profissionais, mas também como pessoas comprometidas com o bem-estar coletivo.
    </mat-card-content>
</mat-card>