<mat-toolbar color="primary">

  <span class="logo">
    <img class="logo-img" mat-card-image src="favicon.png">
    {{ title }}
  </span>

  <span class="spacer"></span>

  <button class="button-menu" mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button class="button-menu-item" mat-menu-item routerLink="">Inicio</button>
    <button class="button-menu-item" mat-menu-item routerLink="/sobre">Sobre a equipe</button>
    <button class="button-menu-item" mat-menu-item routerLink="/proposito">Nosso Propósito</button>
    <button class="button-menu-item" mat-menu-item routerLink="/objetivo">Objetivo</button>
    <button class="button-menu-item" mat-menu-item routerLink="/dicas">Dicas</button>
    <button class="button-menu-item" mat-menu-item routerLink="/cursos">Cursos</button>
    <button class="button-menu-item" mat-menu-item routerLink="/casos">Casos</button>
  </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>