<mat-card>
    <mat-card-title>O que é comunicação assertiva na saúde ?</mat-card-title>

    <mat-card-content>
        Comunicação assertiva é a capacidade de expressar ideias, sentimentos e necessidades de forma clara, direta,
        respeitosa e empática, sem agressividade ou passividade. No contexto da saúde, essa habilidade é fundamental
        para garantir uma troca eficaz de informações entre profissionais, pacientes e equipes multidisciplinares.
        Quando aplicada de maneira adequada, a comunicação assertiva contribui para a construção de vínculos de
        confiança, redução de erros, melhora na tomada de decisões e na segurança do paciente, promovendo uma
        assistência mais eficiente, humanizada e de qualidade.
    </mat-card-content>

    <img mat-card-image src="../../../assets/ENFERMEIRA.jpeg" alt="Foto de enfermeira" />

</mat-card>

<mat-card>
    <mat-card-title>DICAS RÁPIDAS: COMUNICAÇÃO ASSERTIVA NA PRÁTICA</mat-card-title>

    <mat-card-content>
        Explore nossas dicas com orientações simples e objetivas sobre como se comunicar de forma clara, respeitosa e
        eficaz no ambiente de saúde. Uma forma dinâmica de aprender e aplicar a comunicação assertiva no dia a dia
        profissional.
    </mat-card-content>

        <owl-carousel-o [options]="{items: 1, dots: true, nav: false, loop: true}">
            <ng-template carouselSlide>
                <img src="../../../assets/DICAS.jpg" alt="Dica 1" />
            </ng-template>
            <ng-template carouselSlide>
                <img src="../../../assets/DICAS1.jpg" alt="Dica 2" />
            </ng-template>
            <ng-template carouselSlide>
                <img src="../../../assets/DICAS2.jpg" alt="Dica 3" />
            </ng-template>
            <ng-template carouselSlide>
                <img src="../../../assets/DICAS3.jpg" alt="Dica 4" />
            </ng-template>
            <ng-template carouselSlide>
                <img src="../../../assets/DICAS4.jpg" alt="Dica 5" />
            </ng-template>
        </owl-carousel-o>   
</mat-card>