<section id="objetivo">
    <mat-card>
        <mat-card-title>Nossa Missão!</mat-card-title>
        <mat-card-content>
            Conheçam nosso objetivo e nosso propósito.
        </mat-card-content> 
        <owl-carousel-o [options]="{items: 1, dots: true, nav: false, loop: true}">
            <ng-template carouselSlide>
                <img src="../../../assets/OBJETIVO.JPG" alt="Objetivo" />
            </ng-template>
            <ng-template carouselSlide>
                <img src="../../../assets/PROPOSITO.JPG" alt="Propósito" />
            </ng-template>
        </owl-carousel-o>
    </mat-card>
</section>